<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/fill/app" class="nav-link">Form an application</a>
      </li>
    </ul>
  </div>
</nav>
