<div class="container p-5">
  <h4>
    Applications
  </h4>
  <div class="list-group" *ngIf="!loadingApplications; else loading" >
    <a  class="list-group-item list-group-item-action"
       *ngFor="let application of applications"
        [routerLink]="[application.id]"
        routerLinkActive="active"
    >{{ application.firstName }} {{ application.lastName }}</a>
  </div>
      <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
      </ng-template>
</div>

