<div class="container p-5">
  <div class="card">
    <div class="card-header">
      <h5>Application # {{ application.id }}</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title">User information:</h5>
      <p>
        <span>Gender: <strong>{{ application.gender }}</strong></span>
      </p>
      <p>
        <span>Name: <strong>{{ application.firstName }}</strong></span>
      </p>
      <p>
        <span>Surname: <strong>{{ application.lastName }}</strong></span>
      </p>
      <p>
        <span>Middle Name: <strong>{{ application.middleName }}</strong></span>
      </p>
      <p>
        <span>Phone number: <strong>{{ application.phoneNumber }}</strong></span>
      </p>
      <p>
        <span>Place of work: <strong>{{ application.placeOfWork }}</strong></span>
      </p>
      <p>
        <span>Size of t-shirt: <strong>{{ application.size }}</strong></span>
      </p>
      <p class="card-text"><i>Comment: </i>{{ application.comment }}</p>
      <a [routerLink]="['edit']" class="btn btn-warning mr-2">Edit</a>
      <button type="button" class="btn btn-danger"
              (click)="remove()"
              [disabled]="removing"
      >
        <span *ngIf="!removing">
    Delete
  </span>
        <span *ngIf="removing" class="spinner-border spinner-border-sm">
    <span class="sr-only">Removing...</span>
  </span></button>
    </div>
  </div>
</div>

