<div class="container p-5">
  <h3>
    {{ isEdit ? 'Edit application' : 'Fill out the application'}}
  </h3>
    <form class="p-3 border border-info" (ngSubmit)="send()"  #f="ngForm">
      <div class="form-group">
        <label for="firstName" class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-12">
          <input type="text"
                 class="form-control"
                 id="firstName"
                 name="firstName"
                 required
                 ngModel
                 #firstNameInput="ngModel"
          />
        </div>
        <small class="form-text required-text"
                *ngIf="firstNameInput.touched && firstNameInput.errors?.required">
          Enter your first name
        </small>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-4 col-form-label">Surname</label>
        <div class="col-sm-12">
          <input type="text"
                 class="form-control"
                 id="lastName"
                 name="lastName"
                 required
                 ngModel
                 #lastNameInput="ngModel"
          />
        </div>
        <small class="form-text required-text"
               *ngIf="lastNameInput.touched && lastNameInput.errors?.required">
          Enter your last name
        </small>
      </div>
      <div class="form-group">
        <label for="middleName" class="col-sm-4 col-form-label">Middle name</label>
        <div class="col-sm-12">
          <input type="text"
                 class="form-control"
                 id="middleName"
                 name="middleName"
                 required
                 ngModel
                 #middleNameInput="ngModel"
          />
        </div>
        <small class="form-text required-text"
               *ngIf="middleNameInput.touched && middleNameInput.errors?.required">
          Enter your middle name
        </small>
      </div>
      <div class="form-group">
        <label for="phoneNumber" class="col-sm-4 col-form-label">Your phone number</label>
        <div class="col-sm-12">
          <input type="text"
                 class="form-control"
                 id="phoneNumber"
                 name="phoneNumber"
                 required
                 ngModel
                 #phoneNumberInput="ngModel"
                 appPhoneNumber
                 placeholder="+996 XXX XXXXXX"
          />
        </div>
        <small class="form-text required-text"
               *ngIf="phoneNumberInput.touched && phoneNumberInput.errors?.required">
          Enter your phone number
        </small>
        <small class="form-text required-text"
               *ngIf="phoneNumberInput.touched && phoneNumberInput.errors?.phoneNumber">
          Enter your correct phone number
        </small>
      </div>
      <div class="form-group">
        <label for="placeOfWork" class="col-sm-4 col-form-label">Your place of work</label>
        <div class="col-sm-12">
          <input type="text"
                 class="form-control"
                 id="placeOfWork"
                 name="placeOfWork"
                 required
                 ngModel
                 #placeOfWorkInput="ngModel"
          />
        </div>
        <small class="form-text required-text"
               *ngIf="placeOfWorkInput.touched && placeOfWorkInput.errors?.required">
          Enter your work place
        </small>
      </div>
      <fieldset class="form-check form-check-inline">
        <div class="col-sm-12">
          <input class="form-check-input"
                 type="radio"
                 name="gender"
                 id="male"
                 value="male"
                 required
                 ngModel
                 #genderInput='ngModel'
          />
          <label class="form-check-label" for="male">
            Male
          </label>
        </div>
        <div class="col-sm-12">
          <input class="form-check-input"
                 type="radio"
                 name="gender"
                 id="female"
                 value="female"
                 ngModel
          />
          <label class="form-check-label" for="female">
            Female
          </label>
        </div>
        <small class="form-text required-text"
               *ngIf="genderInput.touched && genderInput.errors?.required">
          Select your gender
        </small>
      </fieldset>
      <div class="form-group">
        <label for="size" class="col-sm-4 col-form-label">Size</label>
        <div class="col-sm-12">
          <select id="size"
                  class="form-control"
                  name="size"
                  required
                  ngModel
                  #sizeInput="ngModel"
          >
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
        </div>
        <small class="form-text required-text"
               *ngIf="sizeInput.touched && sizeInput.errors?.required">
          Select your t-shirt size
        </small>
      </div>
      <div class="form-group">
        <label for="comment" class="col-sm-4 col-form-label">Comment</label>
        <div class="col-sm-12">
          <textarea class="form-control"
                    rows="5"
                    id="comment"
                    placeholder="Enter your comment"
                    name="comment"
                    required
                    ngModel
                    #commentInput="ngModel"
                    maxlength="300"
          ></textarea>
        </div>
        <small class="form-text required-text"
               *ngIf="commentInput.touched && commentInput.errors?.required">
          Enter your comment
        </small>
        <small class="form-text required-text"
               *ngIf="commentInput.touched && commentInput.errors?.maxlength">
          Maximum number of characters 300
        </small>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary" [routerLink]="" [disabled]="f.invalid"> {{ isEdit ? 'Save' : 'Send'}}
            <span *ngIf="loading" class="spinner-border spinner-border-sm">
            <span class="sr-only">Loading...</span>
            </span>
          </button>
        </div>
      </div>
    </form>
</div>



